body{
padding-right:50%;
padding-top:8%;
padding-left:25%;
}
#nameError, #emailError, #addressError, #dobError, #ageError, #genderError, #movieError{
color: red;
}

#footer{
  text-align: center;
  color: blue;
}


















